<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


   <!--<add key="VerifyJwtUrl" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/Auth/VerifyJwt" />
    <add key="JwtAuthUrl" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/oauth2/token" />
    <add key="LoginUrl" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/Auth/GetLoginStatus/" />
    <add key="PolicyInfoByParam" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetPolicyInfoByParam" />
    <add key="ClaimIntimate" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/PortalClaimIntimation" />
    <add key="UpdateClaim" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/UpdateClaim" />
    <add key="ClaimDetailByVehicle" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetClaimDetailByVehicle/" />
    <add key="ClaimType" value="http://customer.tplinsuranc7e.com/ClaimIntimationApi/api/ClaimIntimation/GetClaimType/" />
    <add key="City" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetCity" />
    <add key="Area" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetArea/" />
    <add key="Relation" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetRelation" />
    <add key="DamageParts" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetDamageParts/416" />
    <add key="Workshop" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetWorkshop/" />
    <add key="TrakkerCompany" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetTrakkerCompany" />
    <add key="ClaimDetail" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetPortalClaimIntimation/" />
    <add key="CheckClaimExist" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/CheckClaimExist/" />
    <add key="ClaimDocumentList" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetClaimDocumentList/" />
    <add key="ClaimReserve" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetClaimReserve/" />
    <add key="ClaimTypeName" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetClaimTypeByClaimId/"   />
    <add key="SaveClaimRemarks" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/SaveClaimRemarks/" />
    <add key="RemarksDetail" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/RemarksDetail/" />
    <add key="Branch" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/GetBranch/" />
    <add key="WorkshopDetail" value="http://customer.tplinsurance.com/ClaimIntimationApi/api/ClaimIntimation/WorkshopDetail/" />-->
    

 
    <add key="VerifyJwtUrl" value="http://localhost:52693/api/Auth/VerifyJwt" />
    <add key="JwtAuthUrl" value="http://localhost:52693//api/oauth2/token" />
    <add key="loginurl" value="http://localhost:52693/api/Auth/getloginstatus/" />
    <add key="policyinfobyparam" value="http://localhost:52693/api/ClaimIntimation/getpolicyinfobyparam" />
    <add key="claimintimate" value="http://localhost:52693/api/ClaimIntimation/portalclaimintimation" />
    <add key="updateclaim" value="http://localhost:52693/api/ClaimIntimation/updateclaim" />
    <add key="claimdetailbyvehicle" value="http://localhost:52693/api/ClaimIntimation/getclaimdetailbyvehicle/" />
    <add key="claimtype" value="http://localhost:52693/api/ClaimIntimation/getclaimtype/" />
    <add key="city" value="http://localhost:52693/api/ClaimIntimation/getcity" />
    <add key="area" value="http://localhost:52693/api/ClaimIntimation/getarea/" />
    <add key="relation" value="http://localhost:52693/api/ClaimIntimation/getrelation" />
    <add key="damageparts" value="http://localhost:52693/api/ClaimIntimation/getdamageparts/416" />
    <add key="workshop" value="http://localhost:52693/api/ClaimIntimation/getworkshop/" />
    <add key="trakkercompany" value="http://localhost:52693/api/ClaimIntimation/gettrakkercompany" />
    <add key="claimdetail" value="http://localhost:52693/api/ClaimIntimation/getportalclaimintimation/" />
    <add key="checkclaimexist" value="http://localhost:52693/api/ClaimIntimation/checkclaimexist/" />
    <add key="claimdocumentlist" value="http://localhost:52693/api/ClaimIntimation/getclaimdocumentlist/" />
    <add key="ClaimReserve" value="http://localhost:52693/api/ClaimIntimation/GetClaimReserve/" />
    <add key="claimtypename" value="http://localhost:52693/api/ClaimIntimation/getclaimtypebyclaimid/" />
    <add key="saveclaimremarks" value="http://localhost:52693/api/ClaimIntimation/SaveClaimRemarks/" />
    <add key="remarksdetail" value="http://localhost:52693/api/ClaimIntimation/remarksdetail/" />
    <add key="Branch" value="http://localhost:52693/api/ClaimIntimation/GetBranch/" />
    <add key="WorkshopDetail" value="http://localhost:52693/api/ClaimIntimation/WorkshopDetail/" />
  
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" />
    </authentication>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Error/NotFound"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <connectionStrings>
    <add
      name="ErrorLog"
      connectionString="Data Source=172.16.2.86\SQL14;Initial Catalog=ClaimIntimationPortal-DB;User ID=tdidev;Password=tdidevtest1" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".kml" mimeType="text/xml" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>-->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ErrorLog"/>
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>